<div class="container-fluid bg-dark">
    <nav class="container navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="{%url 'all-cats' %}">Cats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'all-subs' %}">Sub Cats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'all-products' %}">Products</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Member
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if user.is_authenticated %}
                            <li><a class="dropdown-item" href="{% url 'user-logout' %}">Logout</a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="{% url 'user-login' %}">Login</a></li>
                            <li><a class="dropdown-item" href="{% url 'user-register' %}">Register</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="nav-item" onClick="changeCartViewPage()">
                        <a class="nav-link text-white">
                            <i class="fas fa-shopping-cart"></i>
                            <span class="cart_count">0</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>