{% extends 'aws/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container my-5">
    <div class="col-md-10 offset-md-1 my-5">
        <h1 class="text-center text-info">{{title}}</h1>
        <div class="accordion" id="accordionExample">
            {% for order in orders %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse{{order.order.id}}" aria-expanded="true"
                        aria-controls="collapse{{order.order.id}}">
                        Order No. {{order.order.id}} Total {{order.order.total}}
                    </button>
                </h2>
                <div id="collapse{{order.order.id}}" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="bg-dark text-white">
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Image</th>
                                    <th>count</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in order.items %}
                                <tr>
                                    <td>{{item.name}}</td>
                                    <td>{{item.price}}</td>
                                    <td><img src="http://localhost:8000/media/{{item.image}}" alt="" width="20px"></td>
                                    <td>{{item.count}}</td>
                                    <td>{{ item.total }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}